# Ignore tout à la racine, sauf .gitignore et "wp-content"
*
!.gitignore
!wp-content


# Ignore le contenu de "wp-content" sauf "plugins", "themes" et "mu-plugins"
!wp-content/plugins
!wp-content/plugins/**
!wp-content/themes
!wp-content/themes/**
!wp-content/mu-plugins
!wp-content/mu-plugins/**