body{
  margin:0;
  font-size:16px;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Anton', sans-serif;
  color:#f1c40f;
  text-transform: uppercase;
}

a{
  color:#f1c40f;
  text-decoration: none;
}
a:hover{
  color:#f39c12;
  text-decoration: underline;
}


header#header{
  background:#ecf0f1;
  padding:30px 0px;
}

.logo{
  max-width: 150px;
  height: auto;
  float:left;
}
